<html>
<head>
        <link rel="stylesheet" type="text/css" href="/temp.css">
    </head>
    <body>
        <h1>Buy Shares</h1>
        <form action="https://cmsc335-final-project-4vk0.onrender.com/buyShare" method="post">
            <fieldset>
                <div id="buyDisplay">
                    <label>Company Ticker Name (example: AAPL): <input type="text" name="companyName" id="companyName"></label>
                    <label>Quantity: <input type="text" name="quantity" id="quantity"></label><br>
                </div>
            </fieldset>

            <input type="reset" value="Reset" name="reset"/>  
            <input type="submit" value="Submit" name="submit"/>
        </form>

        <hr>
        <a href="/">HOME</a>
    </body>

    <script>
        window.onsubmit = main;
        function main(){
            if (confirm("Are you sure you wish to proceed?") == true){
                return true;
            }
        }
    </script>

</html>
