<html>
    <body>
        <h1>Purchase Review</h1>
        <strong>Company Ticker Name: </strong><%- companyName%><br>
		<strong>Quantity: </strong><%- quantity %><br>
		
		<hr>
		<a href="/">HOME</a>
    </body>
</html>