<html>
<head>
        <link rel="stylesheet" type="text/css" href="/temp.css">
    </head>
    <body>
        <h1>Buy shares</h1>
        <form action="<%- link %>" method="post">
            <fieldset>
                <label>Company Ticker Name (example: APPL): <input type="text" name="companyName" id="companyName"></label>
                <label>Quantity: <input type="text" name="quantity" id="quantity"></label><br>
            </fieldset>

            <input type="reset" value="Reset" name="reset"/>  
            <input type="submit" value="Submit Application" name="submit"/>
        </form>

        <hr>
        <a href="/">HOME</a>
    </body>

    <script>
        window.onsubmit = main;
        function main(){
            if (confirm("Are you sure you wish to proceed?") == true){
                return true;
            }
        }
    </script>

</html>
