<html>
    <body>
        <h1>Sale Review</h1>
        <div id="sellDisplay"></div>
            <strong>Company Ticker Name: </strong><%- companyName%><br>
		    <strong>Quantity: </strong><%- quantity %><br>
            <strong>Cost per share:</strong><%- cost %><br>
        </div>
		<hr>
		<a href="/">HOME</a>
    </body>
</html>