<html>
    <body>
        <h1>Welcome to your Portfolio</h1>
        <ul>
            <li>Click <a href="/buyShare">here</a> to buy shares</li>
            <li>Click <a href="/sellShare">here</a> to sell shares</li>
            <li>Click <a href="/viewPortfolio">here</a> to view your portfolio</li>
        </ul>
    </body>
</html>